<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.illinois.strollsafe" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.ReleaseModeActivity"
            android:label="@string/title_activity_release_mode" >
        </activity>
        <activity
            android:name=".util.ThumbReleasedActivity"
            android:label="@string/title_activity_thumb_released" >
        </activity>
        <activity
            android:name=".LockedActivity"
            android:label="@string/title_activity_locked" >
        </activity>
        <activity
            android:name=".util.ShakeModeActivity"
            android:label="@string/title_activity_shake_mode" >
        </activity>

        <service
            android:name=".util.FusedLocationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SetLockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_set_lock"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
